/******************************************************/
/*      Hoja de estilo de insertion.html             */
/*      autor: antonio lorenzo cano jimenez         */
/*                 version: 1.0                    */
/*              fecha: 27/01/2024                 */
/*************************************************/

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#2c1753, #48285b);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


.container {
  background-color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  margin: 50px 0;
  
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilo para el contenedor con margen inferior */
.mb-3 {
  margin-bottom: 1rem;
}


.form-label {
  margin-bottom: 0.5rem;
}


.form-check {
  display: block;
  margin-bottom: 0.5rem;
}


.form-check-input {
  display: inline-block;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  vertical-align: middle;
}


.form-check-label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

form button {
    margin-top: 15px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #9b59b6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

form button:hover {
  background-color: #61e8b2;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


/************************+++++GRUPO********************/
.grupo{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.grupo label {
  display: inline-block;
  margin-bottom: 5px;
}

.grupo input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
}

.grupo.success input {
  border-color: #2ecc71;
}

.grupo.error input {
  border-color: #e74c3c;
}

.grupo i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.grupo.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.grupo.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.grupo small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.grupo.error small {
  visibility: visible;
}



